<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="utf-8">
  <title>Gabe Newell's Shopping Cart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

  <!-- partial -->
  <link rel="stylesheet" href="static/css/style.css">

  <!-- Include Bootstrap4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Include Vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <nav class="navbar fixed-top">
      <div class="navbar_left"></div>
      <div class="navbar_main nav-item mx-auto">
        <p class="my-auto navbar_main_word">$ {{getBalances}}</p>
      </div>
      <div class="navbar_right">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbar_menu_word" href="#" data-toggle="dropdown">Menu</a>
          <div class="dropdown-menu" id="navbar_dropdown_menu">
            <a class="dropdown-item" href="index.html"><span class="oi oi-home"></span> Shop</a>
            <a class="dropdown-item" href="admin.html"><span class="oi oi-person"></span> Admin</a>
          </div>
        </div>
      </div>
    </nav>

    <main>
      <div class="container-fluid">
        <div class="container text-center introduction">
          <div class="introduction_main_img_box text-center">
          <img src="static/img/Gabe.jpg" class="img-fluid" id="introduction_main_img"></img>
        </div>
          <p class="introduction_main_word my-auto">Spend Gabe Newell's Money</p>
        </div>
        <div class="container row mx-auto shop_item">
          <div class="shop_item_box col-sm-12 col-md-6 col-lg-4" v-for="(item, index) in itemList">
            <div class="row">

              <div class="shop_item_img_box p-6 col-sm-6 col-md-12 col-lg-12 text-center">
                <img v-bind:src="item.imgUrl" class="img-fluid" id="shop_item_img" v-if="item.imgUrl != ''">
                <img src="static/img/none-img.png" class="img-fluid" id="shop_item_img" v-else>
                </img>
              </div>
              <div class="shop_item_inf d-flex flex-column justify-content-around col-sm-6 col-md-12 col-lg-12">
                <p class="shop_item_name mx-auto my-auto">{{item.name}}</p>
                <p class="shop_item_price mx-auto my-auto">$ {{item.price}}</p>
                <div class="row mx-auto">
                  <input type="number" class="form-control text-center col-sm-12 col-md-8 col-lg-8 my-auto" id="shop_item_input" min="0" v-bind:max="item.amount" v-model="item.count" v-on:input="checkItemInput(item)"></input>
                  <div class="shop_item_button_div d-flex flex-wrap justify-content-around col-sm-12 col-md-4 col-lg-4">
                    <button type="button" class="btn m-1" id="shop_item_button_buy" v-on:click="addItemCount(item)">BUY</button>
                    <button type="button" class="btn m-1" id="shop_item_button_sell" v-if="item.count > 0" v-on:click="subItemCount(item)">SELL</button><button type="button" class="btn m-1" id="shop_item_button_sell_none" v-else v-on:click="subItemCount(item)">SELL</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shopping_cart text-center mx-auto" v-if="sumItemPrice>0">
          <p class="shopping_cart_main_word my-auto">Your Receipt</p>
          <div class="d-flex" v-for="(item, index) in itemList">
            <template v-if="item.count>0">
              <p class="shopping_cart_item_word_name text-left my-auto">{{item.name}}</p>
              <p class="shopping_cart_item_word my-auto">x{{item.count}}</p>
              <p class="shopping_cart_item_word flex-fill my-auto"></p>
              <p class="shopping_cart_item_word_price my-auto">$ {{item.count * item.price}}</p>
            </template>
          </div>
          <hr class="shopping_cart_item_hr">
          </hr>
          <div class="d-flex justify-content-between">
            <p class="shopping_cart_item_word_settle my-auto">TOTAL</p>
            <p class="shopping_cart_item_word_price my-auto">$ {{sumItemPrice}}</p>
          </div>
          <div class="shopping_cart_button_box mt-3">
            <button type="button" class="btn m-1" id="shopping_cart_button_checkout" data-toggle="modal" data-target="#shopping_cart_button_checkout_modal"><span class="oi oi-cart"></span> Checkout</button>
          </div>
        </div>
        
        <!-- Jump Modal -->
        <div class="modal fade" id="shopping_cart_button_checkout_modal">
          <div class="modal-dialog">
            <div class="modal-content " id="shopping_cart_button_checkout_modal_box">
              <div class="modal-body mx-auto">
                <div v-for="(item) in checkout_info_list">
                  <div class="shopping_cart_button_checkout_modal_body" v-show="checkCheckoutInfoInRange(item)">
                    <h2 class="shopping_cart_button_checkout_modal_title text-center">{{item.title}}</h2>
                    <div class="shopping_cart_button_checkout_modal_img_box">
                      <img v-bind:src="item.imgUrl" class="img-fluid" id="shopping_cart_button_checkout_modal_img"></img>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer container-fluid">
                <div class="shopping_cart_button_checkout_modal_content_box mx-auto col-9 col-sm-10">
                  <div v-for="(item) in checkout_info_list">
                    <div class="shopping_cart_button_checkout_modal_content_box" v-show="checkCheckoutInfoInRange(item)">
                      <h4 class="shopping_cart_button_checkout_modal_content">{{item.content}}</h4>
                    </div>
                  </div>
                </div>
                <div class="shopping_cart_button_checkout_modal_button_box text-right mx-auto col-3 col-sm-2">
                  <button type="button" class="btn" id="shopping_cart_button_checkout_modal_cancel" data-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
    <footer class="text-center">
      <p class="foot_word">Copyright © 2020 <b>NEXT_Jun</b></p>
    </footer>
  </div>
<!-- partial -->
  <script  src="static/js/script.js"></script>

</body>
</html>
