<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8">
  <title>Gabe Newell's Shopping Cart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">

  <!-- partial -->
  <link rel="stylesheet" href="css/admin.css">

  <!-- Include Bootstrap4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Include Vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <nav class="navbar fixed-top">
      <div class="navbar_left"></div>
      <div class="navbar_main nav-item mx-auto">
        <p class="my-auto navbar_main_word">Login</p>
      </div>
      <div class="navbar_right">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" id="navbar_menu_word" href="#" data-toggle="dropdown">Menu</a>
          <div class="dropdown-menu" id="navbar_dropdown_menu">
            <a class="dropdown-item" href="index.html"><span class="oi oi-home"></span> Shop</a>
            <a class="dropdown-item" href="admin.html"><span class="oi oi-person"></span> Admin</a>
          </div>
        </div>
      </div>
    </nav>

    <main>
      <div class="container-fluid px-3">

        <div class="login_inf text-center mx-auto py-4 col-12 col-sm-10 col-md-8 col-lg-8 col-xl-6">
          <div class="login_inf_box mx-auto pt-4 pb-2 col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <div class="login_inf_word text-left">User Name :</div>
            <input type="text" class="form-control mx-auto" id="login_inf_input_username" v-model="username"></input>
            <div class="login_inf_gap"></div>
            <div class="login_inf_word text-left">Password :</div>
            <input type="password" class="form-control mx-auto" id="login_inf_input_password" v-model="password"></input>
            <div class="login_inf_gap"></div>
            <button type="button" class="btn mx-auto col-3" id="login_inf_button" v-on:click="loginAdmin()">Login</button>
          </div>
        </div>

      </div>
    </main>
    <footer class="text-center">
      <p class="foot_word">Copyright © 2020 <b>NEXT_Jun</b></p>
    </footer>
  </div>
  <!-- partial -->
  <script src="js/admin.js"></script>
</body>

</html>