html,
body,
main,
footer {
  padding-top: 20px;
  background: #1b2838;
}

main {
  padding-top: 60px;
}

.navbar {
  height: 70px;
  background-color: #59d251;
  background-image: linear-gradient(#75b022, #5f931c);
}

.navbar_main_word {
  font-size: 28px;
  font-weight: 800;
  color: #f8fef1;
}

.introduction {
  background: #515f6e;
  background-image: linear-gradient(to bottom right, #32424f, #515f6e);
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #142232;
}

.introduction_main_img_box {
  height: 160px;
}

#introduction_main_img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.introduction_main_word {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 800;
  color: #dcdee1;
}

.shop_item {
  padding: 20px;
}

.shop_item_box {
  padding: 15px;
  border: 5px #1b2838 solid;
  background-image: linear-gradient(to bottom right, #465663, #515f6e);
  border-radius: 10px;
}

.shop_item_img_box {
  height: 180px;
}

#shop_item_img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.shop_item_name {
  font-size: 22px;
  padding-top: 10px;
  font-weight: 600;
  color: #dcdee1;
}

.shop_item_price {
  font-size: 20px;
  padding-top: 3px;
  font-weight: 500;
  color: #dcdee1;
}

#shop_item_input {
  background: #dedfe5;
}

.shop_item_button_div {
  padding-top: 6px;
}

#shop_item_button_buy {
  color: #efefef;
  font-size: 16px;
  background-image: linear-gradient(#73ad21, #69a01f);
}

#shop_item_button_sell_none {
  color: #1b2838;
  font-size: 16px;
  background: #424b50;
}

#shop_item_button_sell {
  color: #efefef;
  font-size: 16px;
  background-image: linear-gradient(#cc3341, #a01f29);
}

.shopping_cart {
  padding: 15px;
  max-width: 450px;
  background: #151f2c;
  border-radius: 15px;
}

.shopping_cart_main_word {
  padding-bottom: 14px;
  font-size: 24px;
  font-weight: 900;
  color: #3a90a8;
}

.shopping_cart_item_word {
  font-size: 16px;
  font-weight: 600;
  color: #a2a3a6;
}

.shopping_cart_item_word_name {
  font-size: 16px;
  font-weight: 600;
  color: #a2a3a6;
  width: 260px;
}

.shopping_cart_item_word_price {
  font-size: 16px;
  font-weight: 600;
  color: #96c009;
}

.shopping_cart_item_hr {
  border-top: 2px #7b7f80 solid;
  height: 2px;
}

.shopping_cart_item_word_settle {
  font-size: 16px;
  font-weight: 800;
  color: #a2c3e2;
}

.foot_word {
  color: #a2c3e2;
}